div.scrolling-limit{
    width: 300px;
    height: 20px;
    overflow:hidden;
    white-space:nowrap;
    color: white;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
  }
  
  div.scrolling{
    position: relative;
    -webkit-animation: scroll 20s infinite linear;;
    -moz-animation: scroll 20s infinite linear;
    -o-animation: scroll 20s infinite linear;
    animation: scroll 20s infinite linear;
  }
  
  @keyframes scroll{
      0%   {left: 500px;}
      100% {left: -950px;}
  }
  @-webkit-keyframes scroll{
      0%   {left: 500px;}
      100% {left: -950px;}
  }